{% include "./common.html" %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'practice/convo.css' %}">

<h1>{{ convo.name }}</h1>
<div class="container-fluid">
    {% for sent in convo.sentence_set.all %}
    <div class="row">
        <div class="speaker-col col-1-auto speaker">
            {{ sent.speaker }}:
        </div>
        <div class="content-col col">
            <div id="heading-{{ sent.id }}">
                <button class="text_en btn-link" data-toggle="collapse" data-target="#collapse-{{ sent.id }}" aria-expanded="false" aria-controls="collapse-{{ sent.id }}">
                    {{ sent.text_en }}
                </button>
            </div>
            <div id="collapse-{{ sent.id }}" class="collapse" aria-labelledby="heading-{{ sent.id }}">
                <div class="text_cn">
                    {{ sent.text_cn_traditional }}
                </div>
                <div class="text_pinyin">
                    {{ sent.text_cn_pinyin }}
                </div>
            </div>
        </div>
    </div>    
    {% endfor %}
</div>

<a class="btn btn-info" href="{% url 'practice:convo_first' %}">First</a>
{% if prev_convo_id %}
    <a class="btn btn-info" href="{% url 'practice:convo' prev_convo_id %}">Prev</a>
{% endif %}
{% if next_convo_id %}
    <a class="btn btn-info" href="{% url 'practice:convo' next_convo_id %}">Next</a>
{% endif %}
<a class="btn btn-info" href="{% url 'practice:convo_last' %}">Last</a>
<a class="btn btn-info" href="{% url 'practice:convo_random' %}">Random</a>

<div class="view-count">
    Times viewed: {{ convo.view_count }}
</div>
