body {
    margin: 1em 1em 1em 1em;
}

.speaker-0 { color: red; }
.speaker-1 { color: green; }
.speaker-2 { color: blue; }
.speaker-3 { color: orange; }
.speaker-4 { color: purple; }
.speaker-5 { color: teal; }

.speaker {
    font-weight: bold;
}

.content-col {
    padding-bottom: 1em;
}

.text_en {
    padding: 0;
    border: none;
    background: none;
    text-align: left;
}

.text_en:focus {
    outline: 0;
}

.text_cn {
    font-size: 150%;
}
